.text-center{
  background: green;
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  color: aliceblue;
}
#login{
  background: aqua;
}
#backlg{
  font-family: "Times New Roman", Times, serif;
  font-weight: 900;
  font-size: 2em;
}
